.settings-page .userbox {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.settings-page .userbox .avatar {
    height: 100px;
    width: 100px;
}
