.sidebar-footer {
    padding: 14px;
}

.sidebar-footer .lang-select{
    width: 50%;
    margin: 10px 0;
}

.sidebar-footer .sidebar-footer-links .link-item {
    padding: 3px 0;
}

.app-sidebar-collapsed .sidebar-footer {
    display: none;
}